In [36]:
import numpy as np
data=np.genfromtxt("diabetes_train.csv",delimiter=",")
data.shape
X_train=data[:,0:10]
Y_train=data[:,-1]

In [29]:
import pandas as pd
df=pd.DataFrame(X_train)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349

In [30]:
data2=np.genfromtxt("diabetes_test.csv",delimiter=",")
data2.shape
X_test = data2[:,0:10]
Y_test = data2[:,-1]
data2.shape

(111, 10)

In [33]:
import pandas as pd
df=pd.DataFrame(X_test)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.023546,0.050680,-0.037463,-0.046985,-0.091006,-0.075530,-0.032356,-0.039493,-0.030751,-0.013504
1,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
2,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
3,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
4,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641

In [23]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [37]:
Y_pred = alg1.predict(data2)
np.savetxt("diabetes_pred.csv",Y_pred,delimiter=",",fmt='%1.5f')